@using MLPos.Web.Models
@using Microsoft.Extensions.Localization
@using MLPos.Web
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model LoginViewModel
@{
    Layout = "_Admin_Layout";
    ViewData["Title"] = SharedLocalizer["Login"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css">
}

<div class="container formContainer">
    <ul class="validationErrors">
    @if (Model != null && !string.IsNullOrEmpty(Model.Error))
    {
            <li>@Model.Error</li>
    }
    </ul>
    <form class="loginForm" method="POST">
        <div class="container detailsContainer">
            <div>
                <label class="inputLabel" for="username">
                    @SharedLocalizer["Username"]:
                    @Html.TextBoxFor(m => m.Username, new { id = "username" })
                </label>
                <label class="inputLabel" for="password">
                    @SharedLocalizer["Password"]:
                    @Html.TextBoxFor(m => m.Password, new { id = "password", type = "password" })
                </label>
            </div>
            <button class="button buttonPrimary loginButton" type="submit">@SharedLocalizer["Login"]</button>
        </div>
    </form>
</div>
