@using Microsoft.AspNetCore.Mvc.Localization
@using MLPos.Web
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/adminStyles.css" />
    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewData["Title"]</title>
    <style>
        @@font-face {
            font-family: "Jost";
            src: url("@Url.Content("~/fonts/Jost.ttf")");
        }

        body {
            font-family: "Jost", sans-serif;
        }
    </style>
</head>
<body>
<div class="container adminContainer">
    <div class="container navContainer">
        <div class="container headerContainer">
            <img src="~/img/logo.png" id="navbarlogo"/>
            @if (User.Identity.IsAuthenticated)
            {
                <img src="~/img/icons/hamburger.png" id="hamburger" />
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="container navbar hidden" id="navbar">
                <a class="navbarItem" href="@Url.Action("Index", "Product")"><img class="navIcon" src="~/img/icons/product.png"/>@SharedLocalizer["Products"]</a>
                    <a class="navbarItem" href="@Url.Action("Index", "Customer")"><img class="navIcon" src="~/img/icons/customer.png" />@SharedLocalizer["Customers"]</a>
                    <a class="navbarItem" href="@Url.Action("Index", "PaymentMethod")"><img class="navIcon" src="~/img/icons/paymentmethod.png" />@SharedLocalizer["PaymentMethods"]</a>
                    <a class="navbarItem" href="@Url.Action("Index", "PosClient")"><img class="navIcon" src="~/img/icons/posclient.png" />@SharedLocalizer["PosClients"]</a>
                    <a class="navbarItem" href="@Url.Action("Index", "Sales")"><img class="navIcon" src="~/img/icons/book.png" />@SharedLocalizer["SalesTransactions"]</a>
                    <a class="navbarItem" href="@Url.Action("Index", "Inventory")"><img class="navIcon" src="~/img/icons/inventory.png" />@SharedLocalizer["Inventory"]</a>
                    <a class="navbarItem" href="@Url.Action("Index", "Invoice")"><img class="navIcon" src="~/img/icons/invoice.png" />@SharedLocalizer["Invoices"]</a>
                <a href="~/Admin/Logout" class="button buttonSecondary logoutButton">@SharedLocalizer["Logout"]</a>
            </nav>
        }
    </div>
    <div class="container">
        @RenderBody()
    </div>
</div>
<script src="~/js/admin.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>