@using MLPos.Web.Models
@using MLPos.Web.Utils
@using Microsoft.Extensions.Localization
@using MLPos.Web
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model CustomerDetailsViewModel
@{
    Layout = "_Admin_Layout";
    ViewData["Title"] = Model.Customer?.Name ?? SharedLocalizer["NewCustomer"];
    
    string submitBtnText = Model.Customer == null ? @SharedLocalizer["Create"] : @SharedLocalizer["Update"];

    string formAction = Model.Customer == null ? @Url.Action("Edit") : @Url.Action("Edit", "Customer", new { id = Model.Customer.Id });
}

@section Styles {
    <link rel="stylesheet" href="~/css/Customer.css">
}
<div class="container pageContainer">
    <div class="container formContainer">
        <ul class="validationErrors">
            @if (Model.ValidationErrors != null && Model.ValidationErrors.Any())
            {
                @foreach (var error in Model.ValidationErrors)
                {
                    <li>@error.Error</li>
                }
            }
        </ul>
        <form class="editForm" method="POST" action="@formAction" enctype="multipart/form-data">
            <div class="container detailsContainer">
                <div class="cardImageContainer">
                    @Html.ImageOrDefault(Model.Customer?.Image, "cardImage")
                </div>
                <div>
                    @if (Model.Editing)
                    {
                        <label class="inputLabel" for="image">
                            @SharedLocalizer["Image"]:
                            <input type="file" name="image" id="image" class="formInput" />
                        </label>
                    }
                    <label class="inputLabel" for="name">
                        @SharedLocalizer["Name"]:
                        @Html.TextBoxFor(m => m.Customer.Name, new { id = "name", @class = "formInput" }.ConditionalProp(!Model.Editing, "disabled", "disabled"))
                    </label>
                    <label class="inputLabel" for="email">
                        @SharedLocalizer["Email"]:
                        @Html.TextBoxFor(m => m.Customer.Email, new { id = "email", type = "email", @class = "formInput" }.ConditionalProp(!Model.Editing, "disabled", "disabled"))
                    </label>

                    @if (Model.Customer != null && Model.Customer.DateInserted != DateTime.MinValue)
                    {
                        <p>@SharedLocalizer["CustomerCreatedAt", Model.Customer.DateInserted]</p>
                    }
                    @if (Model.Customer != null && Model.Customer.DateUpdated != DateTime.MinValue && Model.Customer.DateInserted != Model.Customer?.DateUpdated)
                    {
                        <p>@SharedLocalizer["CustomerUpdatedAt", Model.Customer.DateUpdated]</p>
                    }
                </div>
            </div>

            <div class="formButtons">
                <a class="button buttonSecondary formButton" href="@Url.Action("Index")">@SharedLocalizer["Back"]</a>
                
                @if (!Model.Customer.ReadOnly)
                {
                    @if (!Model.Editing)
                    {
                        <a class="button buttonPrimary formButton" href="@formAction">@SharedLocalizer["Edit"]</a>
                    }
                    else
                    {
                        <button class="button buttonPrimary formButton" type="submit">@submitBtnText</button>
                    }
                }
            </div>
            @Html.CheckBoxFor(m => m.NewCustomer, new { hidden = "hidden", @checked = Model.NewCustomer })
            @Html.TextBoxFor(m => m.Customer.Id, new { hidden = "hidden" })
            @Html.TextBoxFor(m => m.Customer.Image, new { hidden = "hidden" })

        </form>
        @if (Model.Editing && !Model.NewCustomer)
        {
            <form method="post" class="deleteForm" action="@Url.Action("Delete", "Customer", new { id = Model.Customer.Id })">
                <button class="button buttonSecondary deleteButton">@SharedLocalizer["Delete"]</button>
            </form>
        }
    </div>
</div>

