@using MLPos.Web.Models
@using MLPos.Core.Model
@using MLPos.Web.Utils
@model CustomerListViewModel
@{
    Layout = "_Admin_Layout";
    ViewData["Title"] = "Customers";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Customers.css">
}

<div class="pageContainer">
    <div class="headerContainer">
        <h1>@ViewData["Title"]</h1>
        <div>
            <input class="search" type="search" placeholder="Search..."/>
            <a href="@Url.Action("Edit", "Customer")" id="newCustomerButton" class="button buttonPrimary">New Customer</a>
        </div>
    </div>
    <div class="flexList">
        @foreach (Customer customer in Model.Customers)
        {
            <a class="card" href="@Url.Action("Details", "Customer", new { id = customer.Id })" id="@customer.Id">
                <div class="cardImageContainer">
                    @Html.ImageOrDefault(customer?.Image)
                </div>
                <div>
                    <p class="customerName">@customer.Name</p>
                    <p class="customerEmail">@customer.Email</p>
                </div>
            </a>
        }
    </div>
</div>
