@using MLPos.Web.Models
@using MLPos.Core.Model
@using MLPos.Web.Utils
@using Microsoft.Extensions.Localization
@using MLPos.Web
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model PaymentMethodListViewModel
@{
    Layout = "_Admin_Layout";
    ViewData["Title"] = SharedLocalizer["PaymentMethods"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/PaymentMethods.css">
}

@section Scripts {
    <script src="~/js/search.js"></script>
    <script type="text/javascript">
        const productList = document.querySelector('#paymentMethodList');
        const searchInput = document.querySelector('#search');
        new Search({
            searchInput,
            listElement: productList,
            cardClassName: '.paymentMethodCard',
            hideClassName: 'hideCard',
            lookupClasses: [ '.paymentMethodName' ]
        });
    </script>
}

<div class="container pageContainer">
    <div class="container titleContainer">
        <div>
            <h1>@SharedLocalizer["PaymentMethods"]</h1>
            <a href="@Url.Action("Edit", "PaymentMethod")" id="newProductButton" class="button buttonPrimary">@SharedLocalizer["NewPaymentMethod"]</a>
        </div>
        <input class="search" type="search" placeholder="@SharedLocalizer["Search"]" id="search" />
    </div>
    <div class="flexList paymentMethodList" id="paymentMethodList">
        @foreach (PaymentMethod paymentMethod in Model.PaymentMethods)
        {
            <a class="card paymentMethodCard" href="@Url.Action("Details", "PaymentMethod", new { id = paymentMethod.Id })" id="@paymentMethod.Id">
                <div class="cardImageContainer">
                    @Html.ImageOrDefault(paymentMethod?.Image, "cardImage")
                </div>
                <div>
                    <p class="cardTitle paymentMethodName">@paymentMethod.Name</p>
                </div>
            </a>
        }
    </div>
</div>
