@using MLPos.Web.Models
@using MLPos.Core.Model
@using MLPos.Web.Utils
@using Microsoft.Extensions.Localization
@using MLPos.Web
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model ProductListViewModel
@{
    Layout = "_Admin_Layout";
    
    ViewData["Title"] = SharedLocalizer["Products"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/Products.css">
}

@section Scripts {
    <script src="~/js/search.js"></script>
    <script type="text/javascript">
        const productList = document.querySelector('#productList');
        const searchInput = document.querySelector('#search');
        new Search({
            searchInput,
            listElement: productList,
            cardClassName: '.productCard',
            hideClassName: 'hideCard',
            lookupClasses: [ '.productName' ]
        });
    </script>
}

<div class="container pageContainer">
    <div class="container titleContainer">
        <div>
            <h1>@SharedLocalizer["Products"]</h1>
            <a href="@Url.Action("Edit", "Product")" id="newProductButton" class="button buttonPrimary newButton"><img class="newButtonImage" src="~/img/icons/plus.png" /></a>
        </div>
        <input class="search" type="search" placeholder="@SharedLocalizer["Search"]" id="search"/>
    </div>
    <div class="flexList productList" id="productList">
        @foreach (Product product in Model.Products)
        {
            <a class="card productCard" href="@Url.Action("Details", "Product", new { id = product.Id })" id="product-@product.Id">
                <div class="cardImageContainer">
                    @Html.ImageOrDefault(product?.Image, "cardImage")
                </div>
                <div>
                    <p class="productName cardTitle">@product.Name</p>
                    <p class="productType">@SharedLocalizer[product.Type.ToString()]</p>
                    <p class="productPrice">@product.Price kr.</p>
                </div>
            </a>
        }
    </div>
</div>
